<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Test klipsify</title>
<meta name="author" content="Jens Lechtenbörger"/>
<style type="text/css">
.underline { text-decoration: underline; }
</style>
<link rel="stylesheet" href="./reveal.js/css/reveal.css"/>

<link rel="stylesheet" href="./reveal.js/css/theme/moon.css" id="theme"/>


<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
    if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './reveal.js/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
</script>
</head>
<body>
<div class="reveal">
<div class="slides">
<section id="sec-title-slide">
<h1 class="title">Test klipsify</h1><h2 class="author">Jens Lechtenbörger</h2><p class="date">Created:{{date}}</p>
</section>
<section id="table-of-contents-section">
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#/slide-1">1. Tests for different languages, with klipsify</a>
<ul>
<li><a href="#/slide-1-1">1.1. HTML</a></li>
<li><a href="#/slide-1-2">1.2. JavaScript</a></li>
<li><a href="#/slide-1-3">1.3. Python</a></li>
</ul>
</li>
</ul>
</div>
</div>
</section>


<section>
<section id="slide-1">
<h2 id="1"><span class="section-number-2">1</span> Tests for different languages, with klipsify</h2>
<div class="outline-text-2" id="text-1">
</div>
</section>
<section id="slide-1-1">
<h3 id="1-1"><span class="section-number-3">1.1</span> HTML</h3>
<iframe style="background-color:white;" height="500px" width="100%" srcdoc='<html><body><pre><code data-editor-type="html" class="klipse" >
&amp;lt;h1 class="whatever"&amp;gt;hello, what&#39;s your name&amp;lt;/h1&amp;gt;

</code></pre>
<link rel= "stylesheet" type= "text/css" href="https://storage.googleapis.com/app.klipse.tech/css/codemirror.css">
<style>
.CodeMirror { font-size: 2em; }
</style>
<script>
window.klipse_settings = { selector_eval_html: ".klipse" };
</script>
<script src= "https://storage.googleapis.com/app.klipse.tech/plugin_prod/js/klipse_plugin.min.js"></script></body></html>
'>
</iframe>

</section>
<section id="slide-1-2">
<h3 id="1-2"><span class="section-number-3">1.2</span> JavaScript</h3>
<iframe style="background-color:white;" height="500px" width="100%" srcdoc='<html><body><pre><code class="klipse" >
console.log(<span style="font-style: italic;">"success"</span>);
<span style="font-weight: bold;">var</span> <span style="font-weight: bold; font-style: italic;">x</span>=<span style="font-style: italic;">&#39;string using single quote&#39;</span>;
x

</code></pre>
<link rel= "stylesheet" type= "text/css" href="https://storage.googleapis.com/app.klipse.tech/css/codemirror.css">
<style>
.CodeMirror { font-size: 2em; }
</style>
<script>
window.klipse_settings = { selector_eval_js: ".klipse" };
</script>
<script src= "https://storage.googleapis.com/app.klipse.tech/plugin_prod/js/klipse_plugin.min.js"></script></body></html>
'>
</iframe>

</section>
<section id="slide-1-3">
<h3 id="1-3"><span class="section-number-3">1.3</span> Python</h3>
<iframe style="background-color:white;" height="500px" width="100%" srcdoc='<html><body><pre><code class="klipse" >
<span style="font-weight: bold;">def</span> <span style="font-weight: bold;">factorial</span>(n):
    <span style="font-weight: bold;">if</span> n &lt; 2:
        <span style="font-weight: bold;">return</span> 1
    <span style="font-weight: bold;">else</span>:
        <span style="font-weight: bold;">return</span> n * factorial(n - 1)

<span style="font-weight: bold;">print</span>(factorial(10))

</code></pre>
<link rel= "stylesheet" type= "text/css" href="https://storage.googleapis.com/app.klipse.tech/css/codemirror.css">
<style>
.CodeMirror { font-size: 2em; }
</style>
<script>
window.klipse_settings = { selector_eval_python_client: ".klipse" };
</script>
<script src= "https://storage.googleapis.com/app.klipse.tech/plugin_prod/js/klipse_plugin.min.js"></script></body></html>
'>
</iframe>
</section>
</section>
</div>
</div>
<script src="./reveal.js/lib/js/head.min.js"></script>
<script src="./reveal.js/js/reveal.js"></script>
<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({

controls: true,
progress: true,
history: false,
center: true,
slideNumber: 'c',
rollingLinks: false,
keyboard: true,
mouseWheel: false,
fragmentInURL: false,
hashOneBasedIndex: false,
pdfSeparateFragments: true,

overview: true,
width: 1400,
height: 1000,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: Reveal.getQueryHash().transition || 'convex', // see README of reveal.js for options
transitionSpeed: 'default',

// Optional libraries used to extend on reveal.js
dependencies: [
 { src: './reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
 { src: './reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: './reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: './reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
 { src: './reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }]

});
</script>
</body>
</html>
